hydra:
  job:
    chdir: true  # to save objects in a working directory
  run:
    dir: .  # Disable Hydra's Directory Change
  runtime:
    version_base: '1.1'


random:
  seed: 42


mts_data_folder: data/mts
mts_running_dataset: settings_three
mts_working_folder: ${mts_data_folder}/${mts_running_dataset}
mts_current_metrics_path: ${mts_working_folder}/metrics
mts_current_acc_tables_path:  ${mts_working_folder}/acc_tables
mts_current_data_path: ${mts_working_folder}/data
mts_save_done_training_dir: results_mts/done_training/${mts_running_dataset}
mts_raw_predictions_dir: results_mts/raw_predictions/${mts_running_dataset}
mts_model_weights_dir: results_mts/weights/${mts_running_dataset}
mts_runs_dir: results_mts/runs/${mts_running_dataset}

current_window_size: 32
supported_window_sizes: [16, 32, 64, 128]
metric_for_labeling_windows: 'auc_pr' #Metric use to assign labels for MTS windowed.
train_test_split_ratio: 0.5
run_all_windows: True

run_oracle:
  metric_path: ${mts_current_metrics_path}
  acc: 1
  randomness: 'true'
  eval: false

run_avg_ens:
  dataset: mts/${mts_running_dataset}
  n_jobs: 4

create_windows_dataset:
  dataset_name: ${mts_running_dataset}
  window_size: 'all' #${current_window_size}
  metric_for_labeling_windows: ${metric_for_labeling_windows}
  save_dir: ${mts_working_folder}
  path: ${mts_current_data_path}
  metric_path: ${mts_current_metrics_path}

generate_features:
  mode: 'all' # 'single' or 'all'
  path: ${mts_working_folder}/${mts_running_dataset}_${current_window_size}
  path_template: ${mts_working_folder}/${mts_running_dataset}_{current_window_size}
  window_sizes: ${supported_window_sizes}

model_selection:
  window_size: ${current_window_size}
  metric_for_labeling_windows: ${metric_for_labeling_windows}
  rocket_config:
    path: ${generate_features.path}
    path_template: ${generate_features.path_template}
    split_per: ${train_test_split_ratio}
    file: ${generate_features.path}/supervised_splits/train_test_split.csv
    file_template: ${generate_features.path_template}/supervised_splits/train_test_split.csv
    eval: true
    path_model_save: ${mts_model_weights_dir}/supervised
    save_done_training: ${mts_save_done_training_dir}
    path_prediction_save: ${mts_raw_predictions_dir}
  feature_based_model_config:
    classifier: 'all'
    path: ${generate_features.path}/TSFRESH_${mts_running_dataset}_${current_window_size}.csv
    path_template: ${generate_features.path_template}/TSFRESH_${mts_running_dataset}_{current_window_size}.csv
    split_per: ${train_test_split_ratio}
    file: ${generate_features.path}/supervised_splits/train_test_split.csv
    file_template: ${generate_features.path_template}/supervised_splits/train_test_split.csv
    eval: true
    path_model_save: ${mts_model_weights_dir}
    save_done_training: ${mts_save_done_training_dir}
    path_prediction_save: ${mts_raw_predictions_dir}
  deep_model_config:
    data_path: ${generate_features.path}
    data_path_template: ${generate_features.path_template}
    split_per: ${train_test_split_ratio}
    seed: ${random.seed}
    read_from_file: ${generate_features.path}/supervised_splits/train_test_split.csv
    read_from_file_template: ${generate_features.path_template}/supervised_splits/train_test_split.csv
    model_name: 'all'  #'all', 'resnet', 'convnet'
    model_parameters_file: models/configuration/${model_selection.deep_model_config.model_name}_default.json
    batch_size: 256
    epochs: 100
    eval_model: true
    path_model_save: ${mts_model_weights_dir}
    save_done_training: ${mts_save_done_training_dir}
    path_prediction_save: ${mts_raw_predictions_dir}
    path_save_runs:  ${mts_runs_dir}

merge_score:
  mts: true
#  metrics: ['interpretability_log_score', 'interpretability_hit_2_score', 'vus_pr', 'auc_pr' ]
  metrics: ['interpretability_hit_2_score', 'vus_pr', 'auc_pr' ]
# ['vus_roc', 'vus_pr', 'auc_roc', 'auc_pr', 'interpretability_log_score', 'interpretability_hit_2_score']
  save_path: results_mts/merged_scores/${mts_running_dataset}
  raw_predictions_path: results_mts/raw_predictions/${mts_running_dataset}
  time: true

